VITE_BACKEND_URL=http://localhost:8080/api/v1
VITE_CONTRACT_ADDRESS=0x5e74A5EC199636B5ECda49fEf0A15Ce06bFcdE5D
VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
VITE_TARGET_CHAIN_ID=11155111
VITE_SEPOLIA_RPC_URL=
VITE_LOCAL_RPC_URL=http://127.0.0.1:8545
