PORT=8080
BASE_PATH=/api/v1
MYSQL_DSN=root:123456@tcp(127.0.0.1:3306)/chain_verify?charset=utf8mb4&parseTime=True&loc=Local
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxY2MzZTQ4MC0zY2QwLTQ1MjQtYjYyOS1kMTMyNzA0MTJhY2UiLCJlbWFpbCI6IjMzMjY0NDkxODBAcXEuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtlWSIsInNjb3BlZEtlWXRsZSI6ImQ0NTQzNTk2ZGNiODQ4MGE0MDY4Iiwic2NvcGVkS2V5U2VjcmV0IjoiMWUwMDBlYmQ5MWI3MmRjYTBhNjI2NDNhN2YyMzM4MDcxMmFhM2Q3MDEyODJmMGYyYTAyY2EzM2RkMzE5MjQ0MCIsImV4cCI6MTgwNDgzOTYwM30.6I79669sia6kdHgf9ckKy1UuKox_oqxu8P7weELdZKg
PINATA_UPLOAD_URL=https://api.pinata.cloud/pinning/pinFileToIPFS
ENABLE_AUTO_MIGRATE=true
MAX_UPLOAD_SIZE=33554432
READ_TIMEOUT=15s
WRITE_TIMEOUT=30s