PORT=8080
BASE_PATH=/api/v1
MYSQL_DSN=root:123456@tcp(127.0.0.1:3306)/chain_verify?charset=utf8mb4&parseTime=True&loc=Local
PINATA_JWT=YOURJWT
PINATA_UPLOAD_URL=https://api.pinata.cloud/pinning/pinFileToIPFS
ENABLE_AUTO_MIGRATE=true
MAX_UPLOAD_SIZE=33554432
READ_TIMEOUT=15s
WRITE_TIMEOUT=30s
ETH_RPC_URL=http://127.0.0.1:8545
HARDHAT_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3